[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kjh15011
[access "refs/for/refs/*"]
	read = group user/kjh15011
	push = group user/kjh15011
	label-Code-Review = -2..+2 group user/kjh15011
	label-Verified = -1..+1 group user/kjh15011
	rebase = group user/kjh15011
	removeReviewer = group user/kjh15011
	submit = group user/kjh15011
[access "refs/heads/*"]
	read = group user/kjh15011
	create = group user/kjh15011
	push = +force group user/kjh15011
	pushMerge = group user/kjh15011
[access "refs/tags/*"]
	push = group user/kjh15011
	push = +force group user/kjh15011
